body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('/images/background_dust.jpg');
  background-size: cover;
  background-repeat: repeat-y;
  background-position-x: center;
  background-position-y: 0vh;
  position: relative;
  color: #fff;
  animation: scrollBG 50s linear 0s infinite;
  overflow-x: hidden;
}

body:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/background_dust.jpg');
  background-size: cover;
  background-repeat: repeat-y;
  background-position-x: center;
  background-position-y: 0vh;
  animation: scrollBG 67s linear 0s infinite reverse;
  transform: scale(1.5);
  opacity: .5;
  z-index: -1;
  pointer-events: none;
}

/* Background filter to dim the image */
body:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  z-index: -1;
  pointer-events: none;
}

/* @keyframes scrollBG {
  0% {
    background-position-y: 0vh;
  }

  100% {
    background-position-y: 100vh;
  }
} */

.App {
  max-width: 800px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.character-card-container {

  border-radius: 15px;
  overflow: hidden;
  justify-content: center;
}

img.character-card {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top center;
  aspect-ratio: 1;
  display: block;
}

.character-card {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.character-card-selected {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  border: solid tomato;
  border-width: 3px;
}

img.character-card-selected {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top center;
  aspect-ratio: 1;
  display: block;
}

.character-card:hover {
  cursor: pointer;
}

.character-card-selected:hover {
  cursor: pointer;
}

.character-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  justify-content: center;
}

.multi-purpose-button {
  cursor: pointer;
  background: none;
  color: #ed2b12;
  font-family: 'ITC Benguiat W01';
  border: none;
  text-transform: uppercase;
  font-size: 11px;
}

.multi-purpose-button-2 {
  cursor: pointer;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background: none;
  color: #ed2b12;
  font-family: 'ITC Benguiat W01';
  border: none;
  text-transform: uppercase;
  font-size: 13px;
}

.multi-purpose-button:hover {
  cursor: pointer;
  background-color: black;
  color: #ed2b12;
  font-family: 'ITC Benguiat W01';
  border: solid #ed2b12;
  transform: scaleY(-1);
}

.multi-purpose-button-2:hover {
  cursor: pointer;
  background-color: black;
  color: #ed2b12;
  font-family: 'ITC Benguiat W01';
  border: solid #ed2b12;
  transform: scaleY(-1);
}

.multi-purpose-button-container {
  text-align: center;
}

.st-character-title {
  margin-bottom: 60px;
  padding: 14px;
  /* text-align: center; */
  text-transform: uppercase;
  font-size: 4.5rem;
  font-family: 'ITC Benguiat W01';
  font-weight: 800;
  color: #1c0502;
  text-shadow: -0.05rem -0.05rem 1px #ed2b12,
    0.05rem -0.05rem 1px #ed2b12,
    -0.05rem 0.05rem 1px #ed2b12,
    0.05rem 0.05rem 1px #ed2b12,
    0 0 15px #630100,
    0 0 20px #450100;
  letter-spacing: -2px;
}

.st-character-title-2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: 'ITC Benguiat W01';
  font-weight: 800;
  color: #1c0502;
  text-shadow: -0.05rem -0.05rem 1px #ed2b12,
    0.05rem -0.05rem 1px #ed2b12,
    -0.05rem 0.05rem 1px #ed2b12,
    0.05rem 0.05rem 1px #ed2b12,
    0 0 15px #630100,
    0 0 20px #450100;
  letter-spacing: -2px;
}

.st-character-title-container {
  width: 100vh;
  display: flex;
  flex-direction: column;
  line-height: .3px;
}

.instructions-header {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-family: 'ITC Benguiat W01';
  font-weight: 800;
  color: #1c0502;
  text-shadow: -0.05rem -0.05rem 1px #ed2b12,
    0.05rem -0.05rem 1px #ed2b12,
    -0.05rem 0.05rem 1px #ed2b12,
    0.05rem 0.05rem 1px #ed2b12,
    0 0 15px #630100,
    0 0 20px #450100;
  letter-spacing: -2px;
}

.instructions {
  width: 82%;
  margin-right: auto;
  margin-left: auto;
  line-height: 25px;
  padding: 80px;
  padding-bottom: 38px;
}

.instructions-p {
  font-family: 'ITC Benguiat W01';
  text-align: center;
  background-color: none;
  font-size: 18px;
}

/* .form-button {
  width: 30%;
  height: 35px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'ITC Benguiat W01';
  border: solid #630100;
  border-width: 2px;
  border-radius: 20px;
  background: none;
  color: white;
}

.form-button:hover {
  cursor: pointer;
  width: 30%;
  height: 35px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: none;
  font-family: 'ITC Benguiat W01';
  background: none;
  color: black;
  text-shadow: -0.05rem -0.05rem 1px #ed2b12,
    0.05rem -0.05rem 1px #ed2b12,
    -0.05rem 0.05rem 1px #ed2b12,
    0.05rem 0.05rem 1px #ed2b12,
    0 0 15px #630100,
    0 0 20px #450100;
} */

.form-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 60px;
  padding: 15px;
  font-family: 'ITC Benguiat W01';
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-size: 35px;
  text-shadow: -0.05rem -0.05rem 1px #ed2b12,
    0.05rem -0.05rem 1px #ed2b12,
    -0.05rem 0.05rem 1px #ed2b12,
    0.05rem 0.05rem 1px #ed2b12,
    0 0 15px #630100,
    0 0 20px #450100;
}

.form-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 60px;
  padding: 15px;
  font-family: 'ITC Benguiat W01';
  border-width: 8px;
  box-shadow: -0.1rem -0.1rem 1.5px #ed2b12,
    0.1rem -0.1rem 1.5px #ed2b12,
    -0.1rem 0.1rem 1.5px #ed2b12,
    0.1rem 0.1rem 1.5px #ed2b12,
    0 0 20px #630100,
    0 0 25px #450100;
  ;
  width: 78%;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-size: 23px;
  text-shadow: -0.03rem -0.03rem .9px #ed2b12,
    0.03rem -0.03rem .9px #ed2b12,
    -0.03rem 0.03rem .9px #ed2b12,
    0.03rem 0.03rem .9px #ed2b12,
    0 0 15px #630100,
    0 0 20px #450100;
  cursor: pointer;
  background: none;
  color: black;
  border: none;
}

form label {
  margin-bottom: .5em;
  font-size: 18px;
}

form input {
  display: inline-block;
  cursor: pointer;
  margin-left: 1em;
  font-family: 'ITC Benguiat W01';
  font-size: 15px;
  color: white;
  margin: 10px;
  background: none;
  border: none;
  border-bottom: solid #890301;
}

.form-control {
  background: none;
  color: white;
  font-size: 18px;
  border: none;
  border-width: 6px;
  box-shadow: -0.1rem -0.1rem 1.5px #ed2b12,
    0.1rem -0.1rem 1.5px #ed2b12,
    -0.1rem 0.1rem 1.5px #ed2b12,
    0.1rem 0.1rem 1.5px #ed2b12,
    0 0 20px #630100,
    0 0 25px #450100;
  ;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.dropdown {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.fight-button {
  font-family: 'ITC Benguiat W01';
  font-size: 50px;
  width: 100%;
  margin: 130px;
  border: none;
  border-radius: 5px;
  background: none;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

.fight-button:hover {
  cursor: pointer;
  color: black;
  text-shadow: -0.03rem -0.03rem .9px #ed2b12,
    0.03rem -0.03rem .9px #ed2b12,
    -0.03rem 0.03rem .9px #ed2b12,
    0.03rem 0.03rem .9px #ed2b12,
    0 0 15px #630100,
    0 0 20px #450100;
  transform: scaleY(-1);
}

.fight-button-container {
  margin: 90px;
  height: 400px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.fight-button-container:hover {
  border-width: 6px;
  box-shadow: -0.1rem -0.1rem 1.5px #ed2b12,
    0.1rem -0.1rem 1.5px #ed2b12,
    -0.1rem 0.1rem 1.5px #ed2b12,
    0.1rem 0.1rem 1.5px #ed2b12,
    0 0 20px #630100,
    0 0 25px #450100;
  ;
  border-radius: 50%;
  background: black;
}

h2 {
  display: inline-block;
}

/* STRANGER THINGS FONT */

.st {
  width: 625px;
  margin: 6rem auto 3rem auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 8rem;
  font-family: 'ITC Benguiat W01';
  font-weight: 800;
  color: #1c0502;
  text-shadow: -0.05rem -0.05rem 1px #ed2b12,
    0.05rem -0.05rem 1px #ed2b12,
    -0.05rem 0.05rem 1px #ed2b12,
    0.05rem 0.05rem 1px #ed2b12,
    0 0 15px #630100,
    0 0 20px #450100;
  letter-spacing: -2px;
}

.st p {
  display: inline-block;
  margin: 0;
}

.st-bound {
  box-shadow: -0.05rem -0.05rem 2px #ed2b12,
    0.05rem -0.05rem 2px #ed2b12,
    -0.05rem 0.05rem 2px #ed2b12,
    0.05rem 0.05rem 2px #ed2b12;
  height: 5px;
}

.st-bound-full {
  width: 100%;
  margin: auto;
  margin-bottom: -1.1rem;
  max-width: 612px;
  margin-left: 5px;
}

.st-bound-mini {
  margin-top: 11rem;
  margin-top: 1rem;
}

.st-bound-left {
  float: left;
  width: 145px;
  position: relative;
  margin-top: 1rem;
  left: 5px;
}

.st-bound-right {
  float: right;
  width: 145px;
  left: 0.3rem;
  position: relative;
}

.st-bottom {
  clear: both;
  top: -14.75rem;
  position: relative;
  margin-top: 12.00rem;
  left: .1rem;
  letter-spacing: 2px;
}

.st-drop {
  line-height: 0;
  position: relative;
  top: 1.90rem;
}

.st-stranger-y {
  font-size: 10.5rem;
  letter-spacing: -8px;
}

.st-stranger-o {
  font-size: 6.5rem;
  letter-spacing: 0;
}

.st-stranger-u {
  font-size: 10.5rem;
  right: 0.3rem;
}

.st-things-d {
  font-size: 104%;
  letter-spacing: 0.2px;
}

.st-things-i {
  letter-spacing: -0.5px;
}

.st-things-e {
  letter-spacing: -3px;
}

/* .lose {
    background-size: 100vh;
    background-image: url("/images/demogorgon_gif.gif");
} */

/*all other text*/
.st-stranger-text {
  /* font-size: 6.5rem; */
  letter-spacing: 0;
  font-size: 2rem;
  font-family: 'ITC Benguiat W01';
  font-weight: 800;
  color: #1c0502;
  text-shadow: -0.05rem -0.05rem 1px #ed2b12,
    0.05rem -0.05rem 1px #ed2b12,
    -0.05rem 0.05rem 1px #ed2b12,
    0.05rem 0.05rem 1px #ed2b12,
    0 0 15px #630100,
    0 0 20px #450100;
  letter-spacing: -2px;
}

/*background for win*/
.win {
  /* overflow: overlay; */
  background-image: url("/images/strangerthings_kids.webp");
  /* position: absolute;
    background-repeat: no-repeat;
    margin-top: 1rem; */
  background-size: cover;
  text-align: center;
}

/*background for lose*/
.lose {
  /* overflow: overlay; */
  background-image: url("/images/demogorgon_gif.gif");
  /* position: absolute;
    background-repeat: no-repeat;
    margin-top: 1rem; */
  background-size: cover;
}

/*signup div for form structure*/
.signup {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  margin-top: 10%;
  border-radius: 17px;
  box-sizing: border-box;
  margin-left: 25%;
  margin-right: 25%;
}

.username-1 {
  margin-left: -0.01rem;
}

.password-1 {
  margin-left: 0.5rem;
}

.signup-sub {
  margin-left: 0.1rem;
  /* margin-right: auto; */
}

.confirm-pass {
  margin-left: -5.5rem;
}

.click-here {
  margin-left: 3rem;

}

/*login page*/
.login {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  margin-top: 10%;
  border-radius: 17px;
  box-sizing: border-box;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 27%;
}

.username-2 {
  margin-left: -0.1rem;
}

.password-2 {
  margin-left: -0.9rem;
}

/*fight character container*/
.fight-character-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  justify-content: center;
  /* margin-bottom: -5rem; */
}

.button-fight {
  margin-top: -35rem;
  margin-bottom: 0rem;
}